 
.col.s12 > .btn {
   width: 100%;
}
.btfc {
   width: 100%;
}
footer.page-footer {
    padding-top: 20px;
    background-color: #FFF;
}
.footer-copyright   nav {
	 border: none;
	 color : #000;
	 background-color: #FFF;
}

.fonav{
	box-shadow:none !important;
	background-color: #FFF;
}
.fonav ul  li a {
	
	color : #000;
}
nav ul a:hover {
    background-color:  #FFF;
}

.selectId	{
 color: #000;

}